doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    meta(name="apple-mobile-web-app-title", content="Pixel Workers")
    meta(name="application-name", content="Pixel Workers")
    meta(name="theme-color", content="#ffffff")
    meta(name="description", content="Signup for the Pixel Workers Slack.")

    link(rel="apple-touch-icon", sizes="180x180" href="images/favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32")
    link(rel="icon", type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16")
    link(rel="manifest", href="images/favicon/manifest.json")
    link(rel="mask-icon", href="images/favicon/safari-pinned-tab.svg" color="#ed1c52")

    link(href="//fonts.googleapis.com/css?family=Open+Sans:400,700", rel="stylesheet", type="text/css")
    link(rel="canonical", href="http://slack.pixelworkers.ca/")

    link(href="css/style.css", rel="stylesheet", type="text/css")

    title Pixel Workers
  body
    #wrapper
      .main
        .header
          .pixel
              img(src="images/pixel-white.svg")
          .workers
            img(src="images/workers-black.svg")
        .content
          object(type="image/svg+xml" data="images/pixel-bg.svg")
          .content-position
            form(method="POST", action="/invite")#join-form.form
              .contents
                input(type="email", name="email", placeholder="#{__('ENTER_EMAIL')}")#slack-email.field
                if tokenRequired
                  input(type="text", name="token", placeholder="#{__('ENTER_TOKEN')}")#slack-token.field
                button(type="submit", value="").submit
    script.
      var tokenRequired = #{tokenRequired};
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email');
      var token = document.getElementById('slack-token');
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();
        }
        if (tokenRequired && !token.value) {
          evt.preventDefault();
        }
      });
