/* Reset */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img {
  border: 0;
}
address, caption, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}
li {
  list-style: none;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
}
/** end reset **/

.content-position {
  position: absolute;
  text-align: center;
  display: block;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
}
.contents {
  display: inline-block;
  background-color: white;
  padding: 2px 10px;
  width: 50%;
  min-width: 225px;
  max-width: 480px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header img {
  width: 90%;
  max-width: 480px;
  display: block;
  margin: 0 auto;
}
.pixel {
	padding-top: 50px;
	padding-bottom: 20px;
  background-color: black;
}
.workers {
	padding-top: 10px;
	padding-bottom: 10px;
}

.content {
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.content object {
  min-width: 750px;
  z-index: -1;
  position: relative; /* allows repositioning */
  left: 50%;
  transform: translateX(-50%);
}

.field {
  border: none;
  font-style: italic;
  outline: none;
  text-transform: uppercase;
  font-size: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 70px);
  position: absolute;
  left: 10px;
}

.submit {
	background:url(../images/pixel-heart.svg);
	background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
	width: 40px;
	height: 40px;
  margin-left: 5px;
  float: right;
}

.error {
  color: #FE7070;
  font-weight: 700;
  font-size: 25px;
  background-color: white;
  width: 75%;
  overflow: scroll;
  margin: 0 auto;
  max-height: 200px;
}
.cls-1{
  fill: #e51a92;
}
.cls-2{
  fill: #ffa400;
}
.cls-3{
  fill:#00953a;
}
.cls-4{
  fill: #00add8;
}
.cls-5{
  fill:#41464c;
}
